# DM-Practical-02  A - Datawarehouse

### Q1: Data Cube

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
from mlxtend.frequent_patterns import apriori, fpgrowth, association_rules 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('DW_dataset.csv')

In [ ]:
df['Job Title'] = df['Job Title'].str.strip()
df['Gender'] = df['Gender'].str.strip()
df[['Address', 'County']] = df["Address"].str.split(r"\bCo\b", expand=True)
df['County'] = df['County'].str.replace(r'.', "", regex=True)
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], infer_datetime_format=True)
df['Date Joined'] = pd.to_datetime(df['Date Joined'], infer_datetime_format=True)
df['Date Left'] = pd.to_datetime(df['Date Left'], infer_datetime_format=True)


def getJobCategory(x):
    y = x.split(' ')
    if 'Technician' in y:
        return 'Technical'
    elif 'Director' in y:
        return 'Management'
    elif 'Manager' in y:
        return 'Management'

df['Job Category'] = df["Job Title"].apply(getJobCategory)
df = df.drop(['Address', 'Job Title'], axis=1)

In [ ]:
# Creating - PSQL database and engine
engine = create_engine('postgresql://postgres:root@localhost:5432/postgres')

# Storing DataFrame-df into PSQL database
df.to_sql('employee_data', engine, if_exists='replace', index=False)

In [ ]:
Session = sessionmaker(bind=engine)
sess = Session()

1)

In [ ]:
Q1 = text(''' 
SELECT "Gender", AVG("Salary") AS avg_salary 
FROM employee_data
WHERE "Job Category" = 'Management'
GROUP BY "Gender"
''')

result1 = engine.execute(Q1)

for row in result1:
    print(f'Average Salary {row["Gender"]} = {row["avg_salary"]}')

2)

In [ ]:
query1 = text(''' 
SELECT "County", AVG("Salary") as "avg_salary" 
FROM employee_data 
GROUP BY "County" ''')

query2 = text(''' 
SELECT "Gender", "County", AVG("Salary") as "avg_salary" 
FROM employee_data 
GROUP BY "Gender", "County" ''')

result1 = sess.execute(query1)
result2 = sess.execute(query2)

print("Average salaries Employees From Kildare and Dublin : \n")

for row in result1:
    county = row[0]
    average_salary = row[1]
    print(f"{county}: {average_salary:.2f}")

print("\nAverage salary by Gender and County : \n")

for row in result2:
    gender=row[0]
    county = row[1]
    average_salary = row[2]
    print(f"{gender} {county}: {average_salary:.2f}")

3)

In [ ]:
query_1970 = ('''
SELECT COUNT(*)
FROM employee_data
WHERE EXTRACT(YEAR FROM "Date of Birth") BETWEEN 1970 AND 1979
AND ("Date Left" IS NULL OR "Date Left" >= '2022-12-31');
''')

query_1980 = ('''
SELECT COUNT(*)
FROM employee_data
WHERE EXTRACT(YEAR FROM "Date of Birth") BETWEEN 1980 AND 1989
AND ("Date Left" IS NULL OR "Date Left" >= '2022-12-31');
''')

query_1990 = ('''
SELECT COUNT(*)
FROM employee_data
WHERE EXTRACT(YEAR FROM "Date of Birth") BETWEEN 1990 AND 1999
AND ("Date Left" IS NULL OR "Date Left" >= '2022-12-31');
''')


result1 = sess.execute(query_1970).scalar()
result2 = sess.execute(query_1980).scalar()
result3 = sess.execute(query_1990).scalar()


# Results
print(f"Employees born in the 1970 and are working upto 2022: {result1}")
print(f"Employees born in the 1980 and are working upto 2022: {result2}")
print(f"Employees born in the 1990 and are working upto 2022: {result3}")

4)

In [ ]:
years = [2001, 2002]

for year in years:
    
    begin_year = (f'''
    SELECT COUNT(*)
    FROM employee_data
    WHERE "Date Joined" <= '{year}-01-01';
    ''')
   
    retained_year = (f'''
    SELECT COUNT(*)
    FROM employee_data
    WHERE "Date Joined" <= '{year}-01-01'
    AND ("Date Left" IS NULL OR "Date Left" >= '{year}-12-31');
    ''')

    beginning_of_year = sess.execute(begin_year).scalar()
    retained_in_year = sess.execute(retained_year).scalar()

    retention_rate = (retained_in_year / beginning_of_year) * 100
    print(f"Employee retention rate in {year}: {retention_rate:.2f}%")

5)

In [ ]:
q = [
    {'s': '2001-01-01', 'e': '2001-03-31'},
    {'s': '2001-04-01', 'e': '2001-06-30'},
    {'s': '2001-07-01', 'e': '2001-09-30'},
    {'s': '2001-10-01', 'e': '2001-12-31'},
    {'s': '2002-01-01', 'e': '2002-03-31'},
    {'s': '2002-04-01', 'e': '2002-06-30'},
    {'s': '2002-07-01', 'e': '2002-09-30'},
    {'s': '2002-10-01', 'e': '2002-12-31'}
]

for quarter in q:
    s = quarter['s']
    e = quarter['e']
    
    y = s[:4]

    qs = text(f'''
    SELECT COUNT(*) FROM employee_data 
    WHERE "Date Joined" <= '{s}' 
    AND ("Date Left" IS NULL OR "Date Left" > '{s}') 
    ''')
    
    rs = engine.execute(qs)
    js = rs.scalar()
    
    qe = text(f'''
    SELECT COUNT(*) FROM employee_data 
    WHERE "Date Joined" <= '{s}' 
    AND ("Date Left" IS NULL OR "Date Left" > '{e}') 
    ''')
    
    re = engine.execute(qe)
    le = re.scalar()
    
    r = (le / js) * 100
    
    print(f"Retention Rate {y}: {r:.2f}%")

### Q2: Data Warehouse - Implementation

1 )

In [ ]:
from IPython.display import Image

Image(filename='Snowflake.png',width=800, height=800)

2) 

### Methods such as following OLAP operation Explaination :

Starting from the base cuboid [student, course, semester, instructor], 
We can do the following OLAP operations to get the average grade for each Big University student's Computer Science (CS) courses:

#### Method 1 : 
Roll-up from Semester to Year: This process adds up the grades for every student and computer science course year by year in order to aggregate the data. We can use this to find the average grade for each year's CS courses.

#### Method 2 :
Drill-down from Year to Semester: If more information is needed, you can carry out the opposite process to drill down to the semester level.

3 )

When there are four dimensions and five levels in each dimension (including "all"), 
The total number of cuboids—including base and apex cuboids—can be computed as follows:

#### Five levels per dimension multiplied by four equals 625 cuboids.

4 )

In [ ]:
df = pd.read_csv('input_DW_data.csv')
df

In [ ]:
engine = create_engine('postgresql://postgres:root@localhost:5432/postgres')

# Storing DataFrame-df into PSQL database
df.to_sql('student_data', engine, if_exists='replace', index=False)

5 )

In [ ]:
# Read
def read_record(Table, Field, Value, engine):
    query = f"SELECT * FROM {Table} WHERE {Field} = '{Value}'"
    result = engine.execute(query)
    return result.fetchall()

result_df = pd.DataFrame(read_record('student_data', 'course', 'CS', engine))
print("Reading Records:\n\n",result_df)

In [ ]:
# Write record 
def write_record(Table, data_dict, engine):
    # Insert record into the database
    keys = ','.join(data_dict.keys())
    values = ','.join([f"'{value}'" for value in data_dict.values()])
    query = f"INSERT INTO {Table} ({keys}) VALUES ({values})"
    
    engine.execute(query)

data_to_insert = {
    'name': 'Aakash',
    'course': 'CS',
    'semester': '3',
    'instructor': 'Z',
    'avg_grade': '5'
}
write_record('student_data', data_to_insert, engine)


query = "SELECT * FROM student_data"
result_df = pd.read_sql_query(query, engine)
result_df

In [ ]:
# Update record 
def update_record(engine, table_name, update_data, condition_column, condition_value):
        update_query = f"UPDATE {table_name} SET "
        update_query += ', '.join([f"{column} = '{value}'" for column, value in update_data.items()])
        update_query += f" WHERE {condition_column} = '{condition_value}'"

        engine.execute(update_query)

# Updated Record Value 
update_data = {'avg_grade': 20}  
condition_column = 'name'
condition_value = 'Aakash' 

update_record(engine, 'student_data', update_data, condition_column, condition_value)

query = "SELECT * FROM student_data"
result_df = pd.read_sql_query(query, engine)
result_df

In [ ]:
# Read Dataset Full
def read_dataset(name, engine):
    query = f"SELECT * FROM {name}"
    df = pd.read_sql(query, engine)
    return df

fulldf = read_dataset('student_data', 'postgresql://postgres:root@localhost:5432/postgres')
fulldf

query = "SELECT * FROM student_data"
result_df = pd.read_sql_query(query, engine)
result_df

In [ ]:
# Write dataset
def write_dataset(name, dataset, engine):
    dataset.to_sql(name, engine, if_exists='append', index=False)

data_to_write = pd.DataFrame({'name': ['E', 'F'], 'course': ['CS', 'Eng'], 'semester': [1, 2], 'instructor': ['X', 'Y'], 'avg_grade': [75, 88]})
wd = write_dataset('student_data', data_to_write, 'postgresql://postgres:root@localhost:5432/postgres')
wd

query = "SELECT * FROM student_data"
result_df = pd.read_sql_query(query, engine)
result_df

In [ ]:
def list_datasets(engine):
    query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
    result = engine.execute(query)
    tables = [row[0] for row in result]
    return tables

table_names = list_datasets(engine)
print("Tables in the database:\n")
for table in table_names:
    print("-",table)

In [ ]:
# This function is used to delete particular table from database 
def delete_table(engine, table_name):       
        delete_query = f"DROP TABLE {table_name}" 
        engine.execute(delete_query)
        
delete_table(engine, 'student_data')

# DM-Practical-02  B - Association Rules

### Q1: Transaction Data Cleaning

1)

In [ ]:
data = pd.read_excel("Online_Retail.xlsx")

In [ ]:
data['InvoiceNo'] = data['InvoiceNo'].astype(str)
data = data.dropna(subset=['Description', 'CustomerID'])
data = data[~(data['InvoiceNo'].str.startswith('C') | data['InvoiceNo'].isnull())]
data = data.reset_index(drop=True)
data

In [ ]:
print(data.columns)

2)

In [ ]:
data = data[data['Description'] != 'POSTAGE']
one_item = data['InvoiceNo'].value_counts() == 1
data = data[~data['InvoiceNo'].isin(one_item[one_item].index)]
data

In [ ]:
# data.to_csv('output_file.csv', index=False)

3)

In [ ]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])
data['InvoiceDay'] = data['InvoiceDate'].dt.date
data['InvoiceNo'] = data.groupby(['CustomerID', 'InvoiceDay'])['InvoiceNo'].transform('first')

item_totals = data.groupby('StockCode')['Quantity'].sum()
data = data[data['StockCode'].isin(item_totals[item_totals >= 1000].index)]
data[['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']]

4)

In [ ]:
countData = data[data['Country'] == 'United Kingdom']
countData

# Count the number of UK records
no_UK_records = len(countData)
print("Number of records related to United Kingdom:", no_UK_records)

5)

In [ ]:
transactions = countData.groupby(['InvoiceNo', 'StockCode'])['Quantity'].sum().unstack(fill_value=0)
transactions[transactions > 0] = 1
transactions.reset_index(inplace=True)
transactions.set_index('InvoiceNo', inplace=True)
transactions

### Q2: Frequent Items and Association Rules

1)

In [ ]:
# Apriori algorithm min support = 0.02 
transactions = transactions.applymap(lambda x: x > 0)
freq_item_apriori = apriori(transactions, min_support=0.02, use_colnames=True)
freq_item_apriori

2)

In [ ]:
# FP-Growth algorithm minimum support = 0.02
freq_item_fpgrowth = fpgrowth(transactions, min_support=0.02, use_colnames=True)
freq_item_fpgrowth

Apriori Algorithm: 
333 frequent itemsets in all were discovered.
Single products make up a large portion of the frequent itemsets, indicating that single items are bought regularly.

FP-Growth Algorithm: 
333 frequent itemsets in all were discovered.
Because of its compact data format, FP-Growth performs better and is more effective when support is reasonably high.

##### Conclusion:
Above two algorithm discovered common itemsets that were comparable; 
However, FP-Growth showed that some items had more support. 
Which of these algorithms works best will depend on the specific dataset and performance requirements. 
FP-Growth is a great alternative for high-support itemset mining as it is more efficient in terms of execution time and memory managemnent.

3)

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt

frequent_itemsets_apriori = apriori(transactions, min_support=0.02, use_colnames=True)

association_rules_apriori = association_rules(frequent_itemsets_apriori, metric="confidence", min_threshold=0.5)

print("Scatter Plot")
plt.figure(figsize=(10, 6))
plt.scatter(association_rules_apriori['support'], association_rules_apriori['confidence'], alpha=0.5)
plt.xlabel('Support')
plt.ylabel('Confidence')
plt.title('Support vs Confidence - Association Rules')
plt.show()

association_rules_apriori

4)

In [ ]:
# Rules - support > 0.028 (2.8%) & confidence > 0.5 (50%)
important_rules = association_rules_apriori[(association_rules_apriori['support'] > 0.028) & (association_rules_apriori['confidence'] > 0.5)]
print("Important Association Rules with Support > 0.028 and Confidence > 0.5 ")
important_rules

#### Support: 
An itemset, or combination of items, is considered relatively common if its support is 0.028 or greater, meaning it appears in at least 2.8% of all transactions.
#### Confidence: 
A confidence level of 0.5 or higher indicates that there is a 50% or greater chance that the consequent item will exist when the antecedent item is present. This suggests a robust correlation.

5)

In [ ]:
# Heatmap - Most Important Association Rules
pivot_table = important_rules.pivot(index = "antecedents", columns = "consequents", values = "confidence").fillna(0)
plt.figure(figsize=(6,6))

sns.heatmap(pivot_table, annot=True, cmap = "YlGnBu")
plt.title("Heatmap - Most Important Association Rules ")
plt.show()